
.sidebar-container {
    position: relative;
    display: flex;
    transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

.sidebar-panel {
    width: 200px;
    padding: 1rem;
    overflow: hidden;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    white-space: nowrap;
}

.sidebar-toggle {
    position: absolute;
    top: 10px;
    z-index: 10;

    background: #6c757d;
    border: 1px solid #5a6268;
    width: 25px;
    height: 30px;
    display: none; /* see sidebarController.ts */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.sidebar-container:not(.sidebar-right) .sidebar-toggle {
    right: -25px;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar-container.sidebar-right .sidebar-toggle {
    left: -25px;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* --- Collapsed style --- */
.sidebar-container.sidebar--collapsed .sidebar-panel {
    width: 0;
    padding-left: 0;
    padding-right: 0;
}

.sidebar-container.sidebar--collapsed .sidebar-toggle {
    display: flex; /* show the button when collapsed */
}

/* Styles pour la prévisualisation Markdown */
.prose {
    line-height: 1.7;
}
.prose h1, .prose h2, .prose h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.prose p {
    margin-bottom: 1em;
}
.prose blockquote {
    border-left: 3px solid #ccc;
    padding-left: 1em;
    color: #6c757d;
    font-style: italic;
}

.badge-beginning {
    background-color: #fff;
    border: 1px solid #8B0000;
    color: #8B0000;
    font-style: italic;
    font-size: 0.8em;
}

.published_stamp {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    transform: rotate(15deg);
    text-align: center;
    z-index: 10;
}
